body{
    margin: 0;
}

.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    width: 650px;
    height: 800px;
    background: #E6E6E6;
    border-radius: 15px;
    padding: 45px 60px;
    display: grid;
    grid-template-rows: 66px 711px;
    gap: 22px;
}

button:hover{
    cursor: pointer;
}

.app__control{
    display: grid;
    grid-template-columns: auto 160px;
}

.app__control__input{
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
    padding: 5px 10px;
}

.app__control__input:focus-visible{
    outline: none;
}

.app__control__btn{
    border: none;
    border-radius: 0 10px 10px 0;
    background: #FBCC2B;
    cursor: pointer;
    font-size: 18px;

}

.app__list{
    background: white;
    border-radius: 15px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.app__list__item{
    background: #FFEBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 30px 20px;
}

.app__list-checkbox-done{
    background: #EBFFED;
    text-decoration: line-through;
}

.app__list__btn{
    border: none;
    border-radius: 5px;
    background: none;
}

.app__list__btn:hover{
    background: red;
}


.app__list-checkbox{
    width: 20px;
    height: 20px;
}

.app_l_text{
    margin: 0;
    flex-grow: 1;
    font-size: 18px;
}


